.projects-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.project-type-container {
    margin: 16px;
}

.project-list {
    display: flex;
    gap: 64px;
    margin: 32px;
    overflow-x: auto;
}
