.navbar-base-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 16px;
}

.navbar-author {
    font-size: var(--font-large);
    letter-spacing: 2px;
    font-weight: 700;
}

.navbar-links-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.navbar-link {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.navbar-link.active {
    text-decoration: underline;
}

.navbar-settings-container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 16px;
    width: 200px;
}

.navbar-theme-switcher {
    cursor: pointer;
}

.navbar-base-container-mobile {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%
}

.navbar-content-container-mobile {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.navbar-subtitle {
    font-size: 24px;
    margin-left: 16px;
}

.navbar-hamburger-container-mobile {
    cursor: pointer;
}

.navbar-settings-relative-container-mobile {
    position: relative;
    top: 10px;
    right: 176px;
}

.navbar-settings-container-mobile {
    padding: 16px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    border: solid;
    border-color: var(--foreground);
    background-color: var(--background);
}
