.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Use the following space for global classes */

p.small {
  font-size: 16px;
}

p.medium {
  font-size: 24px;
}

p.large {
  font-size: 32px;
}

.anchor {
  position: relative;
  width: 0px;
  height: 0px;
}

.go-back {
  margin: 0px 32px;
  align-self: end;
}
