/* Use this one for global classes */

p.small {
  font-size: 16px;
}

p.medium {
  font-size: 24px;
}

p.large {
  font-size: 32px;
}

button {
  background-color: var(--bg-button);
  color: var(--foreground);
  width: fit-content;
  align-self: center;
}

a {
  color: var(--foreground);
}
